<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>


<!-- *******************  A D M I N   Image  *********************  -->
<div th:fragment="img" class="form-group mt-3">

        <div class="form-group">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFile"/>
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>

</body>
</html>