<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>


<!-- *******************  U S E R   ORDERS  *********************  -->
<div th:fragment="orders">
    <h2> [[#{adm_act_3}]] </h2>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col"> [[#{n}]] </th>
            <th scope="col"> [[#{roomNumber}]] </th>
            <th scope="col"> [[#{arrival}]] </th>
            <th scope="col"> [[#{departure}]] </th>
            <th scope="col"> [[#{statusOrd}]] </th>
            <th scope="col"> [[#{cost_2}]] </th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="order,step : ${orders}">
            <td scope="row">
                <input type="hidden" value="#" th:value="${order.id}"/>
                <span th:text="${order.id}"/>
            </td>
            <td th:text="${order.schedule.room.number}"></td>
            <td th:text="${order.schedule.arrival}"></td>
            <td th:text="${order.schedule.departure}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.cost}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>