<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>


<!-- *******************  M A N A G E R   PROPOSALS  *********************  -->
<div th:fragment="proposals">
    <h2> [[#{proposal}]] </h2>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col"> [[#{n}]] </th>
            <th scope="col"> [[#{name}]] </th>
            <th scope="col"> [[#{category}]] </th>
            <th scope="col"> [[#{arrival}]] </th>
            <th scope="col"> [[#{departure}]] </th>
            <th scope="col"> [[#{guests}]] </th>
            <th scope="col"> [[#{period}]] </th>
            <th scope="col"> [[#{data_reg}]] </th>
            <th scope="col"> [[#{statusProp}]] </th>
            <th scope="col"> [[#{detail}]] </th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="proposal,step : ${proposals}">
            <td scope="row">
                <input type="hidden" value="#" th:value="${proposal.id}"/>
                <span th:text="${proposal.id}"/>
            </td>
            <td th:text="${proposal.user.name}"></td>
            <td th:text="${proposal.category.title}"></td>
            <td th:text="${proposal.arrival}"></td>
            <td th:text="${proposal.departure}"></td>
            <td th:text="${proposal.guests}"></td>
            <td th:text="${proposal.period}"></td>
            <td th:text="${proposal.registeredStr}"></td>
            <td th:text="${proposal.status}"></td>
            <td> <a th:if="${proposal.status.toString()=='NEW'}"
                    th:href="'/manager/room/proposal?prId=' + ${proposal.id}"> [[#{processRequest}]] </a> </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>