<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>

<!-- *******************  A D M I N   MENU  *********************  -->
<div th:fragment="menu" class="btn-group" style="width: 100%">
    <button type="button" class="btn btn-primary btn-my-r selected"
            th:onclick="@{'window.location=\'/admin/room\''}">
        <h5> [[#{adm_act_2}]] </h5>
    </button>
    <button type="button" class="btn btn-primary btn-my-r selected"
            th:onclick="@{'window.location=\'/admin/user\''}">
        <h5> [[#{adm_act_1}]] </h5>
    </button>
    <button type="button" class="btn btn-primary btn-my-r selected"
            th:onclick="@{'window.location=\'/admin/order\''}">
        <h5> [[#{adm_act_3}]] </h5>
    </button>
</div>



<!-- *******************  A D M I N   ROOM  *********************  -->



<!-- *******************  A D M I N   USERS  *********************  -->



<!-- *******************  A D M I N   ORDERS  *********************  -->



<!-- *******************  A D M I N  save NEW ROOM  *********************  -->




</body>
</html>