<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>

<form  th:fragment="leftForm" class="sticky rounded-lg shadow p-4 mb-4"
      style="height:700px; height: 350px; background-color: rgba(96, 162, 218, 0.2);">
    <h4 th:if="${#httpServletRequest.remoteUser}" th:text="${#hello1+', '+#httpServletRequest.remoteUser}" ></h4>
    <h4 th:if="${#httpServletRequest.remoteUser == null}" th:text="#{notEntered}" />
</form>


<form th:fragment="dateField" method="post" action="/user?action=room" >
    <div class="mb-3">
        <label for="dateStart" class="form-label"> [[#{arrival}]]: </label>
        <input type="date" class="form-control" id="dateStart"  name="arrival" value="${arrival}" />
    </div>
    <div class="mb-3">
        <label for="dateEnd" class="form-label"> [[#{departure}]]: </label>
        <input type="date" class="form-control" id="dateEnd" name="departure" value="${departure}" />
    </div>
    <div style="color: rgba(19, 23, 186, 0.9); font-size: 1.2em">
        <button type="submit" class="btn btn-outline-success" >  [[#{dateEnter}]]  </button>
    </div>
</form>

<form th:fragment="filters" class="sticky rounded-lg shadow p-4 mb-4" method="post" action="/user?action=filter"
       style="background-color: rgba(96, 162, 218, 0.2);">

    <h3> [[#{filters}]] </h3>
    <div class="mb-3">
        <label for="field1" class="form-label"> [[#{guests}]] </label>


        <select id="field1" name="filter_guests" class="col-md-12 form-control">
            <option value="1" > 1 </option>
            <option value="2" > 2 </option>
            <option value="3" > 3 </option>
            <option value="4" > 4 </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="field2" class="form-label"> [[#{category}]] </label>


        <select id="field2" name="filter_category" class="col-md-12 form-control">
            <option value="">Select Category</option>
            <option th:each="item : ${categories}" th:value="${item}" th:text="${item}"></option>
        </select>

<!--        <select id="field2" name="filter_category" class="col-md-12 form-control">
            <c:forEach items="${categories}" var="item">
                <option value="${item}" ${category == item ? 'selected' : ''}> ${item} </option>
            </c:forEach>
        </select>-->
    </div>

    <div style="color: rgba(19, 23, 186, 0.9); font-size: 1.2em">
        <p th:if="${category}" th:text="${#category+': '+category}"> </p>
        <p th:if="${guests}" th:text="${#guests+': '+guests}"> </p>

        <button type="submit" class="btn btn-outline-success" name="filter" value="applyFilter"> [[#{filterEnter}]] </button>
        <hr/>
        <button type="submit" class="btn btn-outline-success" name="filter" value="filterCansel"> [[#{filterCansel}]] </button>
    </div>
</form>



<form th:fragment="newProposal"  class="sticky rounded-lg shadow p-4 mb-4" method="post" action="/user?action=newProposal"
       style="background-color: rgba(96, 162, 218, 0.2);">
    <h3><fmt:message key="cart_1"/></h3>
    <div class="mb-3">
        <label for="date1" class="form-label"> <fmt:message key="arrival"/>: </label>
        <input type="date" class="form-control" id="date1"  name="arrival" />
        <%--<input type="datetime" class="form-control" id="date1" name="arrival" />--%>
    </div>
    <div class="mb-3">
        <label for="date2" class="form-label"> <fmt:message key="departure"/>: </label>
        <input type="date" class="form-control" id="date2" name="departure" />
    </div>
    <div class="mb-3">
        <label for="field3" class="form-label"> <fmt:message key="guests"/> </label>
        <select id="field3" name="field1" class="col-md-12 form-control">
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="field4" class="form-label"> <fmt:message key="category"/> </label>
        <select id="field4" name="field2" class="col-md-12 form-control">
            <c:forEach items="${categories}" var="category">
                <option value="${category}"> ${category} </option>
            </c:forEach>
        </select>
    </div>
    <div >
        <c:if test="${not empty sessionScope.get('user')}">
            <button type="submit" class="btn btn-outline-success" >  <fmt:message key="cart_2"/>  </button>
        </c:if>
        <c:if test="${empty sessionScope.get('user')}">
            <button type="submit" class="btn btn-outline-success" disabled >  <fmt:message key="cart_2"/>  </button>
        </c:if>
    </div>
</form>

</body>
</html>