<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head  th:fragment="head">
    <title>Hotel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style1.css">
    <link rel="icon" href="data:,">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .sticky {
            position: sticky;
            top: 80px;
            padding: 10px;
        }
    </style>
</head>

<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto" style="font-size: 1.1rem">
                <li class="nav-item">
                    <a class="nav-link gap-item" th:href="@{/}" th:text="#{home}" >  </a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser == Null or #httpServletRequest.isUserInRole('USER')}">
                    <a class="nav-link gap-item" th:href="@{/user/room}"> [[#{booking}]] </a>
                </li>

                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('USER')}">
                    <a class="nav-link gap-item" th:href="@{/user/account/order}"> [[#{account}]] </a>
                </li>


                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <a class="nav-link gap-item" th:href="@{/admin/room}"> [[#{adm_act_2}]] </a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <a class="nav-link gap-item" th:href="@{/admin/user}"> [[#{adm_act_1}]] </a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <a class="nav-link gap-item" th:href="@{/admin/order}"> [[#{adm_act_3}]] </a>
                </li>

                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MANAGER')}">
                    <a class="nav-link gap-item" th:href="@{/manager/room}"> [[#{adm_act_2}]] </a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MANAGER')}">
                    <a class="nav-link gap-item" th:href="@{/manager/proposal}"> [[#{proposal}]] </a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('MANAGER')}">
                    <a class="nav-link gap-item" th:href="@{/manager/order}"> [[#{adm_act_3}]] </a>
                </li>

            </ul>

            <ul class="navbar-nav" style="font-size: 1.2rem; align-items: flex-end">
                <li>
                    <label style="color: rgba(60, 189, 234, 0.54)" th:if="${#httpServletRequest.remoteUser}"
                           th:text="${' '+#request.userPrincipal.principal.name+' '}">
                    </label>
                    <label style="color: rgba(60, 189, 234, 0.54)" th:if="${#httpServletRequest.isUserInRole('ADMIN')}"
                           th:text="${'(ADMIN)'}">
                    </label>
                    <label style="color: rgba(60, 189, 234, 0.54)" th:if="${#httpServletRequest.isUserInRole('MANAGER')}"
                           th:text="${'(MANAGER)'}">
                    </label>
                    <label style="color: rgba(60, 189, 234, 0.54)"
                           th:if="${#httpServletRequest.isUserInRole('USER') and not #httpServletRequest.isUserInRole('ADMIN')}"
                           th:text="${'(USER)'}">
                    </label>
                    <label style="color: rgba(60, 189, 234, 0.54)"
                           th:if="${#httpServletRequest.remoteUser == null}" th:text="#{notEntered}">
                    </label>
                </li>
                <li>
                    &nbsp;&nbsp;&nbsp;
                </li>

                <li class="nav-item" th:if="${#locale.language=='ru'}">
                    <a class="nav-link" th:href="@{?locale=ru}" style="color: #d54d38"> RU </a>
                </li>
                <li class="nav-item" th:unless="${#locale.language=='ru'}">
                    <a class="nav-link" th:href="@{?locale=ru}" > RU </a>
                </li>
                <li class="nav-item" th:if="${#locale.language=='en'}">
                    <a class="nav-link" th:href="@{?locale=en}" style="color: #d54d38" > EN </a>
                </li>
                <li class="nav-item" th:unless="${#locale.language=='en'}">
                    <a class="nav-link" th:href="@{?locale=en}"> EN </a>
                </li>

                <li>
                    &nbsp;
                </li>

                <li class="nav-item" th:if="${#httpServletRequest.remoteUser}">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" th:value="#{logoutNow}" class="btn btn-outline-success my-2 my-sm-0"/>
                    </form>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser == Null}">
                    <a class="nav-link" th:href="@{/login}" th:text="#{loginNow}">  </a>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.remoteUser == Null}">
                    <a class="nav-link" th:href="@{/registration}" th:text="#{registration}"> </a>
                </li>

            </ul>
        </div>
    </nav>
</div>


<ul th:fragment="pagination" class="pagination" >
    <li class="page-item ${pg == 1 ? 'active' : ''}">
        <a class="page-link" th:href="${#httpServletRequest.requestURI + '?pg=' + (pg>1?pg-1:1)}"> < </a>
    </li>
    <li class="page-item">
        <p class="page-link" th:text="${pg}"></p>
    </li>
    <li class="page-item ${pg == 3 ? 'active' : ''}">
        <a class="page-link" th:href="${#httpServletRequest.requestURI + '?pg=' + (pg+1)}"> > </a>
    </li>
</ul>


<div th:fragment="footer">
    <br>
    <!--&copy; 2021-->
</div>

</body>
</html>