<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>

<!-- *******************  U S E R   sorting  ********************* -->
<form th:fragment="sorting" th:with="command=${userType == 'guest' ? 'user' : userType}"
      method="post" th:action="${#httpServletRequest.requestURI + '/sort'}">
    <div class="btn-group">
        <label for="field11" class="form-label date-item"> [[#{sort}]]: </label>
        <select id="field11" name="sortMethod" th:value="${sortMethod}" class="form-control date-item" style="width: 20em" required>
            <option value="number" th:selected="${sortMethod == 'number'}"> [[#{byRoomNumber}]] </option>
            <option value="price" th:selected="${sortMethod == 'price'}"> [[#{byPrice}]] </option>
            <option value="guests" th:selected="${sortMethod == 'guests'}"> [[#{byGuests}]] </option>
            <option value="category" th:selected="${sortMethod == 'category'}"> [[#{byCategory}]] </option>
        </select>
        <button type="submit" class="btn btn-outline-success date-item">  [[#{doSort}]]  </button>

    </div>
</form>

</body>
</html>