<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>


<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-sm-1"> </div>

        <div class="col-sm-10">
            <div>
                <h2> [[#{adm_act_3}]] </h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"> [[#{n}]] </th>
                        <th scope="col"> [[#{firstName}]] </th>
                        <th scope="col"> [[#{lastName}]] </th>
                        <th scope="col"> [[#{roomNumber}]] </th>
                        <th scope="col"> [[#{category}]] </th>
                        <th scope="col"> [[#{arrival}]] </th>
                        <th scope="col"> [[#{departure}]] </th>
                        <th scope="col"> [[#{guests}]] </th>
                        <th scope="col"> [[#{description}]] </th>
                        <th scope="col"> [[#{data_reg}]] </th>
                        <th scope="col"> [[#{photo}]] </th>
                        <th scope="col"> [[#{price}]] </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="order,step : ${orders}" th:style="${order.status.toString()=='CANCEL' ? 'color: #d54d38' : ''}">
                        <td th:text="${order.id}" th:value="${order.id}"></td>
                        <td th:text="${order.user.name}"></td>
                        <td th:text="${order.user.surname}"></td>
                        <td th:text="${order.room == null ? '-' : order.room.number}"></td>
                        <td th:text="${order.room == null ? '-' : order.room.category.title}"></td>
                        <td th:text="${order.arrival}"></td>
                        <td th:text="${order.departure}"></td>
                        <td th:text="${order.guests}"></td>
                        <td th:text="${order.room == null ? '-' : order.room.description}"></td>
                        <td th:text="${order.registeredStr}"></td>
                        <td> <img th:if="${order.room}" width="100px" th:src="${'/static/img/' + order.room.imgName}"/> </td>
                        <td th:text="${order.correctPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <ul th:insert="~{fragments/header :: pagination}"> </ul>

        </div>

    </div>
</div>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>