<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>


<div class="container-fluid" style="margin-top:10px">
    <div class="row">

        <div class="col-sm-2">

        </div>


        <div class="col-sm-8">
            <h2> [[#{adm_act_2}]] </h2>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col"> [[#{n}]] </th>
                    <th scope="col"> [[#{number}]] </th>
                    <th scope="col"> [[#{category}]] </th>
                    <th scope="col"> [[#{guests}]] </th>
                    <th scope="col"> [[#{description}]] </th>
                    <th scope="col"> [[#{price}]] </th>
                    <th scope="col"> [[#{photo}]] </th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="room,step : ${rooms}">
                    <td scope="row">
                        <input type="hidden" value="#" th:value="${room.id}"/>
                        <span th:text="${itemOnPage * (pg - 1) + step.count}"/>
                    </td>
                    <td th:text="${room.number}"></td>
                    <td th:text="${room.category.title}"></td>
                    <td th:text="${room.guests}"></td>
                    <td th:text="${room.description}"></td>
                    <td th:text="${room.price}"></td>
                    <td> <img width="200px" th:src="${'/static/img/'+room.imgName}"/> </td>
                    <td th:test="${#httpServletRequest.remoteUser != Null}">
                        <a href="#" th:href="'/admin/room/change?id=' + ${room.id} + '&pg=' + ${pg}"> [[#{change}]] </a>
                    </td>
                </tr>
                </tbody>
            </table>

            <ul th:insert="~{fragments/header :: pagination}"> </ul>

        </div>




        <div class="col-sm-2">
            <form  th:fragment="newroom" class="sticky rounded-lg shadow p-4 mb-4"
                   th:object="${room}" method="post" th:action="@{/admin/newRoom}"
                   style="background-color: rgba(96, 162, 218, 0.2);">
                <h3> [[#{new_room}]] </h3>
                <div class="mb-3">
                    <input type="hidden" name="pg" th:value="${pg}">
                    <label for="field1" class="form-label"> [[#{number}]]:</label>
                    <input type="number" class="form-control" id="field1"  name="number" required
                           th:value="${oldNumber != null ? oldNumber :''}"/>
                    <small class="text-danger" th:if="${roomExistMessage}" th:text="#{roomExistMessage}"> </small>
                </div>
                <div class="mb-3">
                    <label for="field2" class="form-label"> Room category </label>
                    <select id="field2" name="category" class="col-md-12 form-control" required>
                        <option th:each="item : ${categories}" th:value="${item}" th:text="${item}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="field3" class="form-label">  [[#{guests}]]: </label>
                    <select id="field3" class="col-md-12 form-control" name="guests" >
                        <option value="1"> 1 </option>
                        <option value="2"> 2 </option>
                        <option value="3"> 3 </option>
                        <option value="4"> 4 </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="field4" class="form-label"> [[#{description}]]: </label>
                    <input type="text" class="form-control" id="field4" name="description" required
                           th:value="${oldDescription != null ? oldDescription :''}"/>
                </div>
                <div class="mb-3">
                    <label for="field5" class="form-label"> [[#{price}]]: </label>
                    <input type="number" class="form-control" id="field5" name="price" required
                           th:value="${oldPrice != null ? oldPrice :''}"/>
                </div>

                <div class="custom-file">
                    <label class="custom-file-label" for="customFile" ></label>
                    <input type="file" name="imgName" class="custom-file-input" id="customFile" th:value="${imgName}"/>
                </div>

                <div >
                    <button type="submit" class="btn btn-outline-success" > [[#{save}]] </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>