<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>

<div class="container-fluid" style="margin-top:10px">
    <div class="row">
        <div class="col-sm-2">
            <form th:insert="~{userFragm/user :: leftForm}"> </form>

        </div>

        <div class="col-sm-8">
            <h1>It is site about 'Hotel'.</h1>
            <h1>There are work for learning Java Enterprise technologies</h1>

        </div>

        <div class="col-sm-2"> </div>
    </div>
</div>


<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>