<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>


<div class="container-fluid" style="margin-top:10px">
    <div class="row">

        <div class="col-sm-2">
            <div  th:if="${action=='room' or action=='manageProposal'}" th:insert="~{fragments/filter :: filters}"> </div>
        </div>


        <div class="col-sm-8">

            <div th:fragment="rooms">
                <h2> [[#{adm_act_2}]]  </h2>

                <div class="btn-group">
                    <div th:insert="~{fragments/sorting :: sorting}" th:if="${action=='room'}"> </div>
                </div>

                <h4  th:if="${rooms.isEmpty() and action=='manageProposal'}" class="text-danger"> [[#{errorSearch}]] </h4>
                <table class="table" th:if="${!rooms.isEmpty()}">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"> [[#{n}]] </th>
                        <th scope="col"> [[#{number}]] </th>
                        <th scope="col"> [[#{category}]] </th>
                        <th scope="col"> [[#{guests}]] </th>
                        <th scope="col"> [[#{description}]] </th>
                        <th scope="col"> [[#{price}]] </th>
                        <th scope="col"> [[#{photo}]] </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="room,step : ${rooms}">
                        <td scope="row">
                            <input type="hidden" value="#" th:value="${room.id}"/>
                            <span th:text="${itemOnPage * (pg - 1) + step.count}"/>
                        </td>
                        <td th:text="${room.number}"></td>
                        <td th:text="${room.category.title}"></td>
                        <td th:text="${room.guests}"></td>
                        <td th:text="${room.description}"></td>
                        <td th:text="${room.price}"></td>
                        <td> <img width="200px" th:src="${'/static/img/'+room.imgName}"/> </td>
                        <td th:if="${ordId}">
                            <a href="#" th:href="'/manager/newOrder?roomId=' + ${room.id} + '&ordId=' + ${ordId}"
                               th:text="#{act_2}"> </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <ul th:if="${action=='room'}" th:insert="~{fragments/header :: pagination}"> </ul>
            </div>

        </div>


        <div class="col-sm-2">

        </div>
    </div>
</div>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>