<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="~{fragments/header :: head}"/>

<body>
<!--<div th:insert="~{fragments/header :: navbar}"> </div>-->


<div class="center1">
    <h1>Registration</h1>
    <form class="inner_logo" method="post" th:action="@{/registration}" th:object="${user}" >
        <div class="mb-3">
            <label for="login1" class="form-label"> Login </label>
            <input type="text" class="form-control" id="login1" name="login" th:value="${oldLogin != null ? oldLogin :''}">
            <small class="text-danger" th:if="${wrongLogin!=null}" th:text="#{userExists}"> </small>
            <small class="text-danger" th:if="${wrongLogin2!=null}" th:text="#{emptyField}"> </small>
        </div>
        <div class="mb-3">
            <label for="name1" class="form-label" th:text="#{firstName}"> </label>
            <input type="text" class="form-control" id="name1" name="name"  th:value="${oldFirstName != null ? oldFirstName :''}">
            <small class="text-danger" th:if="${warnFirstName!=null}" th:text="#{emptyField}"> </small>
        </div>
        <div class="mb-3">
            <label for="name2" class="form-label" th:text="#{lastName}"> </label>
            <input type="text" class="form-control" id="name2"  name="surname" th:value="${oldLastName != null ? oldLastName : ''}">
            <small class="text-danger" th:if="${warnLastName!=null}" th:text="#{emptyField}"> </small>
        </div>
        <div class="mb-3">
            <label for="passwordField" class="form-label" th:text="#{password}"> </label>
            <input type="password" class="form-control" id="passwordField" name="password">
            <small class="text-danger" th:if="${wrongPass!=null}" th:text="#{wrongPass}"> </small>
        </div>


        <button type="submit" class="btn btn-outline-success" th:text="#{register}"> </button>
        <button type="button" class="btn btn-outline-danger" onclick="window.location='${backUrl!=null ? backUrl : '/'}'"
                th:text="#{cancel}">
        </button>
        <div style="margin-top: 30px; font-size: 1.3em">
            <a th:href="@{/login}" th:text="#{toLogin}" > # </a>
        </div>
    </form>
</div>

</body>
</html>
