<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>


<div class="container-fluid" style="margin-top:10px">
    <div class="row">

        <div class="col-sm-3">
            <img style="width: 100%" th:src="${'/static/img/' + orderDto.imgName}"/> </td>
        </div>


        <div class="col-sm-6">
            <form method="post" th:action="@{/user/account/newOrder}" th:object="${orderDto}">
                <h2> [[#{blank}]]: </h2>
                <h3 th:if="${roomOccupiedMessage}" class="text-danger" th:text="#{roomOccupiedMessage}"></h3>

                <button  th:if="${roomOccupiedMessage}" type="button" class="btn btn-primary btn-my-r selected"
                        th:onclick="@{'window.location=\'/user/room\''}">
                    <h5> [[#{anotherRoom}]] </h5>
                </button>


                <div>
                    <div class="mb-3">
                        <label for="dateStart" class="form-label"> [[#{arrival}]]: </label>
                        <input type="date" class="form-control" id="dateStart"  name="arrivalString" th:value="${orderDto.arrival}"
                               onchange="getCost()"/>
                    </div>
                    <div class="mb-3">
                        <label for="dateEnd" class="form-label"> [[#{departure}]]: </label>
                        <input type="date" class="form-control" id="dateEnd" name="departureString" th:value="${orderDto.departure}"
                               onchange="getCost()"/>
                        <input type="hidden" id="price1" th:value="${orderDto.correctPrice}">
                    </div>
                    <input type="hidden" th:value="${orderDto.number}" name="number">

                    <p>[[#{roomNumber}]]: [[${orderDto.number}]]</p>
                    <p>[[#{category}]]: [[${orderDto.category}]]</p>
                    <p>[[#{guestsQuantity}]]: [[${orderDto.guests}]]</p>
                    <p>[[#{description}]]: [[${orderDto.description}]]</p>
                    <h3> [[#{cost}]]: <span id="cost1">[[${orderDto.cost}]]</span> [[#{currency}]] </h3>
                </div>

                <div class="btn-group" style="width: 100%">
                    <input type="submit" class="btn btn-primary btn-my-r" th:value="#{act_3}"> </input>
                </div>
            </form>
        </div>


        <div class="col-sm-3">

        </div>
    </div>
</div>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>

<script>
    var getCost = function () {
        var parts1 = dateStart.value.split('-');
        var price = price1.value;
        var start = new Date(parts1[0], parts1[1] - 1, parts1[2]);
        var parts2 = dateEnd.value.split('-');
        var end = new Date(parts2[0], parts2[1] - 1, parts2[2]);
        cost1.innerHTML = dateStart.value == '' | dateEnd.value == '' ? '' : (end - start) / 86400000 * price + '.0';
    };
</script>

</html>