<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/header :: head}"/>
<body>
<div th:insert="~{fragments/header :: navbar}"> </div>


<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-sm-2">
            <div>  <h1> [[#{account}]]  </h1> </div>
        </div>


        <div class="col-sm-8">

            <div th:insert="~{fragments/u_menu :: menu}"   class="btn-group w-100"> </div>


            <div th:fragment="orders">
                <h2> [[#{adm_act_3}]] </h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col"> [[#{n}]] </th>
                        <th scope="col"> [[#{roomNumber}]] </th>
                        <th scope="col"> [[#{arrival}]] </th>
                        <th scope="col"> [[#{departure}]] </th>
                        <th scope="col"> [[#{statusOrd}]] </th>
                        <th scope="col"> [[#{cost_2}]] </th>
                        <th scope="col"> [[#{photo}]] </th>
                        <th scope="col"> [[#{detail}]] </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="order,step : ${orders}" th:style="${order.status.toString()=='CANCEL' ? 'color: #d54d38' : ''}">
                        <td scope="row">
                            <input type="hidden" value="#" th:value="${order.id}"/>
                            <span th:text="${order.id}"/>
                        </td>
                        <td th:text="${order.room == null ? '-' : order.room.number}"></td>
                        <td th:text="${order.arrival}"></td>
                        <td th:text="${order.departure}"></td>
                        <td> <b th:text="${order.status}" th:style="${order.status.toString()=='CANCEL' ? 'color: #d54d38' : 'color: #3b6696'}"/> </td>
                        <td th:text="${order.cost}"></td>
                        <td> <img th:if="${order.room}" width="100px" th:src="${'/static/img/' + order.room.imgName}"/> </td>
                        <td> <a href="#" th:href="'/user/account/order/change?id=' + ${order.id}"> [[#{detail}]] </a> </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul th:if="${orders}" th:insert="~{fragments/header :: pagination}"> </ul>

        </div>


        <div class="col-sm-2">

        </div>
    </div>
</div>

<div th:insert="~{fragments/header :: footer}"> </div>
</body>
</html>