<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>



<form th:fragment="filters" class="sticky rounded-lg shadow p-4 mb-4" method="post" th:action="@{/user/filter}"
       style="background-color: rgba(96, 162, 218, 0.2);">

    <h3> [[#{filters}]] </h3>
    <div class="mb-3">
        <label for="cat3" class="form-label"> [[#{category}]] </label>
        <select name="filter_category" th:value="${category}" class="col-md-12 form-control" id="cat3">
            <option>Select Category</option>
            <option th:each="item : ${categories}" th:value="${item}" th:text="${item}"
                    th:selected="${category == item}">
            </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="guest3" class="form-label">  [[#{guests}]]: </label>
        <select name="filter_guests" th:value="room.guests" id="guest3" class="col-md-12 form-control" >
            <option value="0"> &nbsp; </option>
            <option value="1" th:selected="${guests == 1}"> 1 </option>
            <option value="2" th:selected="${guests == 2}"> 2 </option>
            <option value="3" th:selected="${guests == 3}"> 3 </option>
            <option value="4" th:selected="${guests == 4}"> 4 </option>
        </select>
    </div>

    <div style="color: rgba(19, 23, 186, 0.9); font-size: 1.2em">
        <p th:if="${category}" > [[#{category}]]: [[${category}]]</p>
        <p th:if="${guests}"> [[#{guests}]]: [[${guests}]] </p>

        <button type="submit" class="btn btn-outline-success" name="filter" value="applyFilter"> [[#{filterEnter}]] </button>
        <hr/>
        <button type="submit" class="btn btn-outline-success" name="filter" value="filterCansel"> [[#{filterCansel}]] </button>
    </div>
</form>




</body>
</html>