<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="${#locale.language}">
<head>
    <meta charset="UTF-8">
    <title>Form items</title>
</head>
<body>



<!-- *******************  U S E R   new Proposal  *********************  -->

<form   th:fragment="newProposal" class="sticky rounded-lg shadow p-4 mb-4" method="post" th:action="@{/user/newProposal}"
       style="background-color: rgba(96, 162, 218, 0.2);">
    <div class="mb-3">
        <label for="date3" class="form-label"> [[#{arrival}]]: </label>
        <input type="date" class="form-control" id="date3"  name="arrival" required/>
    </div>
    <div class="mb-3">
        <label for="date4" class="form-label">  [[#{departure}]]: </label>
        <input type="date" class="form-control" id="date4" name="departure" required/>
    </div>
    <div class="mb-3">
        <label for="field11" class="form-label"> [[#{guests}]]: </label>
        <select id="field11" name="guests" class="col-md-12 form-control" required>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
        </select>
    </div>
    <div class="mb-3">
        <label for="field12" class="form-label"> [[#{category}]]: </label>
        <select id="field12" name="category" class="col-md-12 form-control" required>
            <option value="STANDARD">Select Category</option>
            <option th:each="item : ${categories}" th:value="${item}" th:text="${item}"></option>
        </select>
    </div>


    <div >
        <div th:if="${#httpServletRequest.remoteUser}" >
            <button type="submit" class="btn btn-outline-success" th:disabled="false"> [[#{cart_2}]] </button>
        </div>
        <div th:if="${#httpServletRequest.remoteUser == null}">
            <button type="submit" class="btn btn-outline-success" th:disabled="true" >  [[#{cart_2}]] </button>
        </div>
    </div>
</form>




</body>
</html>